<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="field">
<% if attribute.password_digest? -%>
    <%%= f.label :password %><br>
    <%%= f.password_field :password %>
  </div>
  <div>
    <%%= f.label :password_confirmation %><br>
    <%%= f.password_field :password_confirmation %>
<% else -%>
  <%- if attribute.reference? -%>
    <%%= f.label :<%= attribute.column_name %> %><br>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
  <%- else -%>
    <%%= f.label :<%= attribute.name %> %><br>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  <%- end -%>
<% end -%>
  </div>
<% end -%>
  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end %>




<%= render 'flash', model: @post %>
<%= form_for [:admin, @post], html: {role: 'form'} do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="form-group">
            <%= f.label :body, 'Body' %>
            <%= f.text_area :body, rows: 15,   class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :type %>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="form-group">
        <%= f.submit '확인', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  
<% end %>